<form action="/bmi" method="get">
  <div class="numbers">
    <div class="system_input">
    <input type="text" name="system" autocomplete="off">
    <h4>pick imperial or metric</h4>
    </div>
    <div class="bmi_input">
    <input type="text" name="weight" autocomplete="off">
    <h4>enter your weight above</h4>
    </div>
    <div class="bmi_input">
    <input type="text" name="height" autocomplete="off">
    <h4>enter your height above</h4>
    </div>
    <input class="button" type="submit">
  </div>
</form>

<% if @bmi %>
<p>your BMI is <%= @bmi %>.</p>
<h3>things could be worse.</h3>
<% end %>
