<form action="/" method="get">
<!--   <label for="first">FIRST NUMBER</label> -->
  <div class="numbers">
  <div class="input">
  <input type="text" autocomplete="off" name="first">
  <h4>enter your first number above</h4>
  </div>
<!--   <label for="operator">OPERATOR</label> -->
  <div class="operator">
  <input type="text" autocomplete="off" name="operator">
  <h4>enter your operator</h4>
  </div>
<!--   <label for="second">SECOND NUMBER</label> -->
  <div class="input">
  <input type="text" autocomplete="off" name="second">
  <h4>enter your second number above</h4>
  </div>
  <input class="button" type="submit">
  </div>
</form>

<% if @result %>
<p><%= @first %> <%= @operator %> <%= @second %> is <%= @result %></p>
<h3>you shouldn't need a calculator for that.</h3>
<% end %>