<!DOCTYPE html>
<html>
<head>
  <title>Calc It Again With Sinatra</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <nav>
    <li><a href="/">BASIC CALC</a></li>
    <li><a href="/power">POWER</a></li>
    <li><a href="/sqrt">SQUARE ROOT</a></li>
    <li><a href="/bmi">BMI</a></li>
    <li><a href="/mortgage">MORTGAGE</a></li>
    <li><a href="/trip_calc">TRIP CALC</a></li>
  </nav>
  <%= yield %>
</body>
</html>