<form action="/power" method="get">
  <div class="numbers">
    <div class="input">
    <input type="text" autocomplete="off" name="first">
    <h4>enter your first number above</h4>
    </div>
  <div class="operator">
<!--     <h5>**</h5> -->
    <label for="operator">**</label>
  </div>
  <div class="input">
    <input type="text" autocomplete="off" name="second">
    <h4>enter your second number above</h4>
  </div>
    <input class="button" type="submit">
  </div>
</form>

<% if @result %>
<p>the power of <%= @first %> to <%= @second %> is <%= @result %>.</p>
<h3>i can't believe you didn't know that already.</h3>
<% end %>