<form action="/sqrt" method="get">
<div class="numbers">
    <div class="input">
    <input type="text" autocomplete="off" name="first">
    <h4>enter your first number above</h4>
    </div>
  <input class="button" type="submit">
  </div>
</form>

<% if @result %>
<p>the square root of <%= @first %> is <%= @result %>.</p>
<h3>i can't believe you didn't know that already.</h3>
<% end %>