<!-- <form action="/trip_calc" method="get">
  <label for="principal">PRINCIPAL</label>
  <input type="text" name="principal" placeholder="Enter the principal of the loan">
  <label for="interest_rate">INTEREST</label>
  <input type="text" name="interest_rate" placeholder="What is your interest rate?">
  <label for="payments">PAYMENTS</label>
  <input type="text" name="payments" placeholder="How many payments do you have?">
  <input type="submit">
</form>

<% if @monthly_payment %>
<p>Your monthly payments are <%= @monthly_payment %> per month.</p>
<% end %> -->